{% extends 'base.html' %}

{% block content %}

<h1> Профиль {{ user }}</h1>
<form method="post" enctype="multipart/form-data">
    <div class="profile">
        {% csrf_token %}
        {% if user.photo %}
        <p><img class="img-profile" src='{{ user.photo.url }}'></p>
        {% else %}
        <p><img class="img-profile" src="/media/users/default_logo_user.jpg"></p>
        {% endif %}
        <div class="info-profile">
            <div class="form-error">{{ form.non_field_errors }}</div>
            {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <p>
                <button class="button-add" type="submit">Сохранить</button>
            </p>
        </div>
    </div>
</form>

{% endblock %}