{% extends 'base.html'  %}

{% block content %}

<form action="", method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    <h2 class="add_title">Добавление статьи на сайт</h2>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button class="button-add" type="submit">Отправить</button></p>
</form>

{% endblock %}